body {
    background-color: #fff;
    font-family: 'Courier New';
    font-size: 100%;
    font-weight: 400;
    margin: 0 auto;
    max-width: 60em;
    min-width: 40em;
    background-color: #0b0e2f;
}


article {
    background-color: white;
    margin: 0 auto;
    min-height: 50em;
    position: relative;
    width: 40%;
}

.site-info {
    background-color: #B1E5F2;
    /*clear: both;*/
    margin: .5em auto 5em auto;
    min-height: 5em;
    width: 80%;
}

article .form-heading {
    color: #000;
    font-size: 1.5em;
    margin-left: 2em;
    padding-top: 1em;
    position: relative;
}

.form-text {
    color: #000;
    display: block;
    margin: 0 auto 2.5em auto;
    padding-top: 10px;
    position: relative;
    width: 85%;
}

textarea {
    font: inherit;
    padding: 2px;
}

.field-large {
    width: 12em;
}

form {
    margin: 0 auto;
    max-width: 60%;
    position: relative;
}

.site-account {
    padding-top:3em;
    color: #272635;
    padding-top: 1em;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

label {
    color: #272635;
    cursor: pointer;
    display: inline-block;
    margin: 3px 12px;
    position: relative;
    vertical-align: top;
    width: 150px;

}

fieldset {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.fields .row {
    height: 1.5em;
    margin: 1em 0 1em 0;
    position: relative;
    width: 100%;
}

.fields-checkboxes .row label {
    display: inline-block;
    text-align: left;
    width: 300px;
}

.button-wrapper {
    margin: 0 auto;
    max-width: 26.5%;
    position: relative;
}

.button {
    margin-bottom: 1.5em;
}
